" 共通設定を読み込み
if filereadable(expand('~/dotfiles/vim/vimrc.common'))
  source ~/dotfiles/vim/vimrc.common
endif

" IdeaVim専用設定を読み込み
if filereadable(expand('~/dotfiles/vim/vimrc.idea'))
  source ~/dotfiles/vim/vimrc.idea
endif
